.welcomeIntro{
    width: 100%;
    height: 100vh;   
    display: flex;
    justify-content: center;
    color:white;
}
.main_container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.headTitle{
    font-size: 3rem;
    font-weight:600;
    line-height: 4rem;
}

.subTitle{
    font-size: 1.5rem;
    color:rgb(181, 165, 222);
    margin:2rem 0;
    font-weight:300;
}

.Navbutton{
    width: 25%;
    padding:15px;
    font-size: 0.8rem;
    font-weight: 500;
    color:white;
    background-color: rgb(94,66,165);
    letter-spacing: 0.15rem;
    border-radius: 50px;
    border: 0.5px solid grey;
    transition: background-color 0.3s;
}
.Navbutton:hover{
    background-color:rgb(154, 136, 200);
}
