.services{
    width: 100%;
    height: 100vh;  
    height: 100svh; 
    display: flex;
    justify-content: center;
    background: rgb(69,17,89);
    background: linear-gradient(180deg, rgba(69,17,89,1) 0%, rgba(51,16,65,1) 50%, rgba(20,8,24,1) 100%);
     
    .bg_Image{
            width: 100%;
            position:absolute;
            height: 100%;
            background: url(./../../images/WordCloudImg.png) ;
            opacity:0.05;
            max-width: 100%;
            background-repeat: repeat;
            object-fit: contain;
            height: 100%;
        }

    .outer_Container{
        position:absolute;
        width: 100%;
        height: 100%;
        display: flex;
	    justify-content: center;

        .main_container{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

            .service_desc{
                color:rgb(236, 212, 212);
                color:white;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;

                .headTitle{
               /* margin-bottom: 1rem;; */
                 font-size: clamp(2.5rem, 1rem + 2.0001vw, 3.5rem);
                // font-size: clamp(3rem, 1.5rem + 2.0001vw, 4rem);
                font-weight: 300;
                
                letter-spacing: 0.1rem;
                }
                .paraDesc{
                    font-size: 1.2rem;
                    font-size: clamp(1rem, 0.4rem + 0.8vw, 1.4rem);
                    // margin-top:2rem;
                    margin:0.5rem 0rem;
                    font-size: clamp(0.8rem, 0.2rem + 0.8vw, 1.2rem);
                    // line-height: 1.5rem;;
                    letter-spacing: 0.05rem;;
                    font-weight: 300;;
                }
                .paraDesc:last-child{
                    font-weight: 400;
                    font-size: 1.3rem;
                }
                }
            .cardsGroup{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                gap:1rem;

                .card{
                    width: 48%;
                    display: flex;
                    flex-direction: row;;

                    color:rgb(236, 212, 212);
                    color:white;
                    padding:1rem;
                    border:0.125px solid rgb(236, 212, 212);
                    background-color: rgb(186,87,151);
                    border-radius: 10px;;
                    background: rgb(69,17,89);
                    background: linear-gradient(180deg, rgba(69,17,89,0.4) 0%, rgba(51,16,65,0.4) 50%, rgba(20,8,24,0.4) 100%);



                    .cardLeft{
                        display: flex;
                        flex:1;

                    }
                    .cardRight{
                        display: flex;
                        flex-direction: column;
                        flex:4;
                        justify-content:flex-start;
                        
                        align-items: flex-start;
                        
                    }
                    .cardRight>h4{
                        color:white;
                        font-size: clamp(1rem, 0.4rem + 0.8vw, 1.4rem);
                        letter-spacing: 0.05rem;;
                    }
                    .cardRight>p{
                        font-size: clamp(1rem, 0.4rem + 0.8vw, 1.4rem);
                        font-size: clamp(0.8rem, 0.2rem + 0.8vw, 1.2rem);
                        letter-spacing: 0.05rem;;
                    }
                }
            }
}
}

}



@media (min-width: 992px) and (max-width: 1199.98px){
    .services {
        .outer_Container{
            .main_container{
                 .cardsGroup{
                    gap:0.25rem;
                    .card{
                        padding:0.5rem;
                        .cardRight{
                            p{
                                margin-bottom: 0.5rem;
                            }
                        }
                    }

               
                }

            }
        }
    }
}


@media (min-width: 360px) and (max-width: 767.98px){
    .services{
        position:absolute;
        // height: max(200vh,140px );
        // max-height: 200vh; 
        height: 246vh;;
      
        
        
        .bg_Image{
            top:0;
            left:0;
            position:absolute;
            // display:none;
            height:200vh;

     
            
            
        }
        .outer_Container{
            overflow:auto;
            height: 100%;;

            .main_container{
                height: 100%;
                justify-content: space-around;

                .service_desc{
                    height: auto;
                    align-items: center;
                    margin-top: 2rem;;
                 
                    .paraDesc{
                           font-size: clamp(0.8rem, 0.5353rem + 1.1765vw, 1.1rem);
                           font-size: clamp(0.9rem, 0.7235rem + 0.7844vw, 1.1rem);
                    ;

                    }
                    
                }
                .cardsGroup{
                    margin:1rem 0;
                height: 100%;
                    .card{
                        width: 100%;
                        margin-bottom: 0.5rem;;
                        .cardRight{
                            justify-content: space-evenly;
                            h4{
                                text-align: center;;
                                width: 100%;
                                font-size: 1.3rem;;
                            }
                            p{
                                font-size: clamp(0.9rem, 0.7235rem + 0.7844vw, 1.1rem);
                                text-align: center;;
                            }
                        }
                    }
            }   
            }
           
        }
    }
}








