.contact{
   	width: 100%;
    height: 100vh;
    height: 100svh;
    background: linear-gradient(180deg, rgba(59,44,93,1) 0%, rgba(39,28,62,1) 50%, rgba(16,11,28,1) 100%);

    background: rgb(34,67,113);
background: linear-gradient(180deg, rgba(34,67,113,1) 0%, rgba(20,45,80,1) 50%, rgba(13,30,55,1) 100%);
background: rgb(35,67,120);
background: linear-gradient(180deg, rgba(35,67,120,1) 0%, rgba(31,56,97,1) 42%, rgba(26,41,66,1) 66%, rgba(15,22,33,1) 100%);
    position:relative;
    

    .bg_Image{
        width: 100%;
        position:absolute;
        height: 100%;
        background: url(./../../images/WordCloudImg.png) ;
        opacity:0.05;
        max-width: 100%;
        background-repeat: repeat;
        object-fit: contain;
        // z-index: -100;
        // height: 100vh;
        height: 100%;
        

    }

    .outer_Container{
        position:absolute;
        width: 100%;
        height: 100%;
        display: flex;
	    justify-content: center;
        
      .main_container{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-weight: 200;
        

            .work_desc{
                color:rgb(236, 212, 212);
                color:white;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content:center;
                width: 100%;
                font-weight: 300;
                letter-spacing: 0.1rem;;
                h1{
                    font-size: clamp(2.5rem, 1rem + 2.0001vw, 3.5rem);
                // font-size: clamp(3rem, 1.5rem + 2.0001vw, 4rem);
                font-weight: 300;
                line-height: 6rem;
                letter-spacing: 0.1rem;

                
                }
                }

                .contentPart{
                    display: flex;
                    // flex-direction: column;
                    gap:1rem;


                    .cardsGroup{
                    display: flex;
                    // flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    gap:1rem;
                    padding:1rem;
                    
                    color:white;
                    font-weight: 300;
                    border:0.25px solid #483A68;
                    border-radius:10px;
                    
                
                    h4{
                        
                        font-weight: 300;
                        padding-bottom:0.5rem;
                        font-size: clamp(1rem, 0.4rem + 0.8vw, 1.4rem);
                        letter-spacing: 0.05rem;;
                        line-height: 2rem;;
                    }
                        ul{
                            padding-left:1rem;
                        li{
                            list-style: none;;
                            padding-left:0;
                            padding:0.5rem 0;
                            font-size: clamp(1rem, 0.4rem + 0.8vw, 1.4rem);
                            font-weight: 400;;
                            letter-spacing: 0.05rem;;
                        }
                    }
            

                }
                .contactDetails{
                color:white;
                padding:1rem;
                border:0.25px solid #483A68;
                border-radius:10px;
                h4{
                     font-size: clamp(1rem, 0.4rem + 0.8vw, 1.4rem);
                     font-weight: 300;;
                     letter-spacing: 0.05rem;;

                }
                    .c_info{
                        margin-top:2rem;
                        .c_info_item{
                            display: flex;
                            align-items: center;
                            padding:1rem;
                            padding:0.5rem;
                            font-weight: 300;
                            width: 100%;
                            font-size: 1.3rem;
                            letter-spacing: 0.1rem;
                            // margin: 1rem 0;
                            font-size: clamp(1rem, -1.0861rem + 7.947vw, 1.4rem);
                            font-size: clamp(1rem, 0.4rem + 0.8vw, 1.4rem);
                            .c_icon{
                                width: 2rem;
                                height: auto;
                                margin-right: 1.25rem;
                            }
                            a{
                            text-decoration: none;
                            color: white;
                            }
                        }

                    }
                 }
            }
            
               
    }
            
    }
         

}



@media (min-width: 992px) and (max-width: 1199.98px)
{
 .contact{
    
        .outer_Container{
            .main_container{
                .work_desc{
                    h1{
                        line-height: normal;
                        
                    }
                }
                .contentPart{
                    .cardsGroup{
                        padding:0px ;;
                        ul{
                            li{
                                padding:0.25rem 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}
// @media only screen and (max-width: 991.98px)
@media (min-width: 768px) and (max-width: 991.98px){
    .contact{
        .outer_Container{
            .main_container{
                .work_desc{
                    h1{
                        line-height: normal;
                        color:white;
                    }
                }
                .contentPart{
                    flex-direction: column;
                    .contactDetails{
                        .c_info{
                            margin-top:1rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 360px) and (max-width: 767.98px){
    .contact{
        height: 100%;
        height: 155vh;;
        height: 155svh;
        .bg_Image{
        top:0;
        left:0;
        position:fixed;
        }
        .outer_Container{
            
            overflow:auto;
            height: 100%;;

            .main_container{
                height: 100%;
                justify-content: flex-start;
                justify-content: space-evenly;
                .contentPart{
                    flex-direction: column;
                    .cardsGroup{
                        padding:0px;
                        h4{
                            letter-spacing: normal;;
                             
                        }
                        ul{
                            padding-left:0px;
                            li{
                                text-align: center;;
                            }
                        }
                    }
                }
                .work_desc{
                    h1{
                        width: 100%;
                        text-align: center;;
                        font-size: clamp(2.7rem, 1.8176rem + 3.9218vw, 3.7rem);
                    }

                }
                
            }
        }
    
    }
}